/* CSS Document */

body {
  min-height: 70rem;
  padding-top: 0.0rem;
  background:#000;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.container-pt {
  background: rgb(167, 165, 165);
  padding: 5px;
}

.cl-write{
  color: #FFF
}

.inputbox {
 width: 60px; 
   /*  height: 21px; 
  line-height: 21px;  */
}

.yellow_inputbox {
  color: #000;
  font-size: 14px;
  text-align: center;
}


.lineTarget {
  width: 85%;
  margin: 0 auto 5px;
}

.lineTarget th  {
  padding: 5px;
}

.lineTarget th .tr_blue{
  background-color:#456daa;
}


.th_laranja {
  background-color:#df8829
}


.lineTarget td {
  line-height: 20px;
}

.gray_inputbox {
  border: 1px solid #000;
  background: #666;
  width: 58px;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.listNum {
  width: 27px;
  text-align: center;
  color: rgb(253, 247, 247);
  height: 20px;
}

.totals {
  border-bottom: 1px solid #000;
  text-align: center;
}

.enter {
  width: 167px;
 
  /* height: 21px; line-height: 21px; */
}

.support {
  text-align: center;
  margin-right: 5px;
}

.grand {
  width: 21px;
}

#enter_time {
  margin: 3px 0 0;
  /*width: 290px;
	overflow-y: scroll;*/
}


#msg {
  color: red;
  font: bold 12px verdana;
}
#email {
  width: 130px;
 
}
#outBox {
  position: relative;
}
#emailBox {
  position: absolute;
  top: -75px;

  right: 5px;

  background: #111;
  border: 1px solid #111;
  display: none;
  width: 292px;
  height: 75px;
}
#emailBox input,
#emailBox textarea {
  border: 1px solid #000;
}
#emailBox textarea {
  width: 200px;
  height: 58px;
}
.submitSendEmail,
.cancelSend {
  font-size: 12px;
}
.emailButtons {
  text-align: center;
}
